@import 'card.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'notification.scss';
@import 'modal.scss';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.main-container {
  background-color: #f0f0f0;
}




